# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore test files and directories
tests/__pycache__/
tests/*.pyc
tests/*.pyo
tests/.pytest_cache/

# Ignore IDEs and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore virtual environments
venv/
env/
.env/

# Ignore macOS specific files
.DS_Store

# Ignore log files
*.log
*.txt

# Ignore CIFAR-10 dataset and .tar.gz files in the specific directory
examples/vit_experiments/data/
examples/vit_experiments/data/*.tar.gz

# Ignore .pth files
*.pth

# Ignore any other files or directories specific to your project
run_test.py

# Ignore the output directory for visualizations
output/